# Use our custom-configured c++ toolchain.

build:carwos --crosstool_top=//toolchain:carwos

build:carwos --cpu=atom

# Use the default Bazel C++ toolchain to build the tools used during the
# build.

build:carwos --host_crosstool_top=@bazel_tools//tools/cpp:toolchain
